<!DOCTYPE html>
<html>
<head>
  <title>Web</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_professor.present? %>  Logado com ID professor: <%= current_professor.id%>,no email: <%= current_professor.email%> <%= link_to("Sair", destroy_professor_session_path, :method => :delete) %> <%else%> <%= link_to "Cadastrar", new_professor_registration_path %>/
  <%= link_to "Entrar", new_professor_session_path %>/ <% end %> 
<%= yield %>

</body>
</html>
